/* ===== Styles ===== */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto Condensed', Helvetica, arial, sans-serif;
    line-height: 2.1rem;
    color: #293241;
    text-align: center;
    background-image: linear-gradient(to bottom,#ededed, white);
}
.wrapper {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
p {
    font-weight: 300;
    font-size: 1.5rem;
    margin: 0;
}
a {
    text-decoration: none;
    color: #293241;
}
a:visited {
    color: #293241 ;
}
a:hover {
    color: #fed36e;
    text-decoration: overline underline;
    text-shadow: 0px 0px 2px #293241,
    0px 0px 4px #ee6c4d;
}
h1 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.2rem;
    margin: 1rem 0;
    padding: 0;
}
img {
    max-width: 100%;
}

/* ----- main-nav -----*/
.main-nav {
    display: block;
}
.main-header ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 2rem;
}
.main-nav li a {
    display: inline-block;
    padding: 10px 30px;
    font-size: 1.5rem;
}
/* ----- nav end -----*/

.my-pic {
    padding: 16px;
    border: 1px solid #ededed;
    max-width: 75%;
}
.intro p {
    font-weight: 500;
}
.main-header {
    background: #fafafa;
    padding: 0.5rem 2rem 2rem;
    margin-top: 1.5rem;
}
.portfolio h2 {
    margin-bottom: 3rem;
}
.portfolio {
    margin-top: 3rem;
}

/* ----- SKILLS -----*/
.skills {
    background-color: #ededed;
    padding-top: 0.2rem;
    padding-bottom: 1rem;
    max-width: 430px;
    height: 430px;
    margin: 1rem auto;
}
.skills h2 {
    margin-bottom: 3rem;
}
.all-skills {
    width: 300px;
    height: 300px;
    border: 3px solid #293241;
    border-radius: 50%; 
    margin: 1rem auto;  
}
.one,
.two,
.three,
.four {
    width: 50%;
    height: 50%;
    border: 1px solid #293241;
    display: inline;
    float: left;
    background-color: #fed36e;
    transition: all .2s ease-in-out;
}
.one {
    border-top-left-radius: 100%;
}
.one p {
    position: relative;
    top:50%;
    bottom: 0;
    left:10%;
    right:0;  
}
.two {
    border-top-right-radius: 100%;
}
.two p {
    position: relative;
    top:50%;
    bottom: 0;
    left:-10%;
    right:0;  
}
.three {
    border-bottom-left-radius: 100%;
}
.three p {
    position: relative;
    top:30%;
    bottom: 0;
    left:8%;
    right:0;    
}
.four {
    border-bottom-right-radius: 100%;
}
.four p {
    position: relative;
    top:30%;
    bottom: 0;
    left:-10%;
    right:0; 
}
.all-skills p {
    font-size: 1.6rem;
    color: white;
    text-align: center; 
}
.one:hover {
    transform: scale(1.1);
    background-color: #ee6c4d;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.6);
    border: 2px solid #293241;
}
.two:hover {
    transform: scale(1.1);
    background-color: #ee6c4d;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.6);
    border: 2px solid #293241;
}
.three:hover {
    transform: scale(1.1);
    background-color: #ee6c4d;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.6);
    border: 2px solid #293241;
}
.four:hover {
    transform: scale(1.1);
    background-color: #ee6c4d;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.6);
    border: 2px solid #293241;
}

/* ----- SKILLS END -----*/

.info {
    margin: 0 2rem 4rem;
}
.contact h2 {
    margin-bottom: 3rem; 
}
.contact p {
    margin: 0 2rem 3rem;
}
.address p {
    font-weight: 500;
    margin: 1rem;
}
.contact {
    margin-top: 5rem;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

/* ----- Footer -----*/
.main-footer {
    margin-top: 6rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    border-top: 2px solid #ededed;
}
.my-name-footer {
    float: left;
    padding-left: 1rem;
}
.back-to-top {
    float: right;
    padding: 1rem;
    font-weight: 500;
}

/* ----- footer-nav -----*/
.footer-nav {
    display: block;
}
.main-footer ul {
    list-style-type: none;
    padding: 0;
}
.main-footer li a {
    display: inline-block;
    font-weight: 500;
    padding-left: 1rem;
    padding-right: 1rem;    
}
.main-footer li {
    display: inline-block;
}
/* ----- nav end -----*/

.footer-nav {
    display: none;
}

/* ===== @media ===== */
/* ----- 768px -----*/
@media (min-width:768px) {
    .main-nav li {
        display: inline-block;
    }
    .main-header {
        max-width: 881px;
        margin: 1.5rem auto;
    }
    .portfolio {
        max-width: 881px;
        margin: 3rem auto;
        }
    .my-pic {
        float: right;
        display: inline;
        max-width: 401px;
        width: 39%;
        margin-top: 3.5rem;
        margin-left: 1.5rem;
    }
    .top-text {
        display: inline;
        text-align: left;
        color: #ee6c4d;
    }
    .card {
        width: 50%;
        float: left;
        padding: 0.5rem;
    }
    .contact p {
        display: inline-block;
        max-width: 600px;
    }
    .back-to-top {
        display: none;
    }
    .footer-nav {
        display: inline-block;
        float: right;
    }
    .main-footer {
        max-width: 881px;
        margin: 6rem auto 2rem;   
    } 
    .all-skills {
        width: 360px;
        height: 360px;
    }
    .all-skills p {
        font-size: 2rem;
    }
    .skills {
        background-color: #ededed;
        padding-top: 1rem;
        padding-bottom: 1rem;
        max-width: 550px;
        height: 550px;
        margin: 1rem auto;
    }
}

/* ----- 1024px -----*/
@media (min-width:1024px) {
    .card {
        width: 33.333%;
    }
    .main-header {
        max-width: 1150px;
    }
    .portfolio {
        max-width: 1150px;
    }
    .my-pic {
        max-width: 550px;
        width: 45%;
    } 
    .main-nav {
        display: inline-block;
        float: right;
        margin-right: -2rem;
    }  
    .my-name {
        float: left;
        width: 50%;
        text-align: left;
    }
    .main-footer {
        max-width: 1150px;
        margin: 6rem auto 2rem;   
    } 
}

/* ===== clearfix ===== */
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}
